/* Heading styles */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight:bold
}
#forecast h2{
    font-size:1.5em
}
#forecast h3{
    font-size:1.2em
}

/* Set default styles for buttons with class .btn */
#search-button.btn, .btn {
    border-radius: 5px;
    width:100%;
    background-color:#AEAEAE
}

/* Set the style for the search button */
#search-button.search-button {
    background-color: #5098E6;
}
/* Set individual forecast div styles */
#forecast .container .col div {
    background-color:#2D3E50;
    color:#fff
}
/* Styles for today weather report */
#today div {
	border: 1px solid black;
}

/*Container with bootstrap loader*/
.container-fluid.loader{
    display: none;
}